body{
    margin: 0px;
    background-color: gray;
}

.container{
    display: flex;
    margin-left: 150px;
    margin-right: 150px;
    justify-content: space-around;
}

.block{
    margin-top: 100px;
    box-shadow: 0px 1px 3px;
    border-radius: 5%;
    border: 0.5px solid black;
    background-color: rgb(200, 169, 126);
    display: inline-block;
    width: 350px;
    height: 400px;
    text-align: center;
}

.block::before {
    margin: -30px 0px 0px 80px;
    display: block;
    content: '';
    width: 200px;
    height: 70px;
    border-radius: 10px 10px 0px 0px;
    background-color: rgba(26, 31, 24, 0.5);
}

.text{
    margin-top: -20px;
    padding: 40px;
}

h1{
    font-weight: 600;
    color: rgb(237, 163, 72);
    text-shadow: 0 -1px 0 #ffffff, 0 1px 0 #333333;
}

p{
    text-align: justify;
}